@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* html {
    box-sizing: border-box;
} */

body {
    margin: 0;
    min-height: 100vh;
    background: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Noto Sans, sans-serif;
    font-size: 12px;
}

.player-container {
    height: 60%;
    width: 90%;
    background: #e9e9e9;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
    height: 100%;
    width: 90%;
    position: relative;
    top: -20px;
    margin: auto;
    
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.7);
    min-height: 300px;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 17px;
    height: 5px;
    width: 90%;
}

.progress {
    background: #000000;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrapper {
    position: relative;
    top: -65px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin:0px 18px;
}

.player-controls {
    position: relative;
    top: -35px;
    width: 100%;
}
.control-essential {
    position: relative;
    
}
.control-player {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.fa-solid{
    font-size: 30px;
    color: #7e7e7e;
    cursor: pointer;
    user-select: none;
}

.fa-solid:hover{
    filter: brightness(60%);
}

.main-button{
    font-size: 45px;
    position: relative;
    top: 3px;
}

/* .volume-controls{
    position: relative;
    top: -20px;
    left: 120px;
    width: 200px;
}

#volumeValue {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
} */
